:root {
    --text-font: "Orbitron", "Segoe UI", sans-serif;
}

body {
    font-family: var(--text-font);
    font-weight: 100;
    font-size: 16px;
    user-select: none;
    background-color: #11111a;
    color: aliceblue;
    overflow-y: scroll;
}

::-webkit-scrollbar {
    width: 6.9px;
}

::-webkit-scrollbar-track {
    opacity: 0;
}

::-webkit-scrollbar-thumb {
    background: #003355;
}

::-webkit-scrollbar-thumb:hover {
    background: #0055AA;
}

b {
    font-weight: 700!important;
    transition: color 0.2s;
}

b:hover {
    color: deepskyblue!important;
}

input, select {
    font-size: 12px;
    font-weight: 100;
    font-family: var(--text-font);
    background-color: #001122;
    color: aliceblue;
    width: 69px;
    border: 1px solid aliceblue;
    border-radius: 2px;
    transition: 0.2s;
}

input:focus, select:focus {
    outline: none!important;
    border: 1px solid deepskyblue;
    color: deepskyblue;
}

input[type="color"] {
    height: 21px;
    width: 21px;
}

label {
    transition: color 0.2s;
}

button {
    font-family: var(--text-font);
    background-color: #001122;
    color: aliceblue;
    font-weight: 400;
    border: 1px solid aliceblue;
    border-radius: 2px;
    transition: 0.2s;
    padding-left: 12px;
    padding-right: 12px;
    margin: 6.9px;
}

button:hover {
    outline: none!important;
    border: 1px solid deepskyblue;
    color: deepskyblue;
}

#options {
    width: calc(600px - 57px);
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

@media only screen and (max-width: 600px) {
    #previewContainer {
        width: 100%!important;
    }
    #newPreview {
        width: 100%!important;
    }
    #options {
        width: calc(100% - 57px);
    }
}

#previewContainer {
    background-color: black;
    display: none;
}

#presetselector {
    width: auto!important;
}